/* GRID */

.grid-container {
    height: 220vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "main""footer";
}

main {
    grid-area: main;
    background-color: green;
}

footer {
    grid-area: footer;
    background-color: red;
}

/* GENERAL */

body {
    margin: 0;
}

/* NAVBAR */

nav {
    position: fixed;  
    height: 80px;
    width: 100vw;
    z-index: 10;
    background-color: rgba(0, 0, 0, .5);
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}

nav > ul > li {
    color: white;
}