/* GRID */

.grid-container {
    height: 220vh;
    display: grid;
    grid-template-rows: 1.15fr .85fr;
    grid-template-areas: "main""footer";
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    background-color: red;
}

/* GENERAL */

body {
    margin: 0;
    font-family: Circular, Helvetica, Arial, sans-serif;
}

/* NAVBAR */

nav {
    position: fixed;  
    height: 80px;
    width: 100vw;
    z-index: 10;
    font-weight: bold;
    background-color: rgba(0, 0, 0, .5);
    display: grid;
    grid-template-colomns: 1fr 2fr;
    grid-template-areas: "logo ul"
}

nav > .logo {
    grid-area: logo;
    color: white;
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    
}

nav > .logo > i {
    padding-top: 15px;
    font-size: 40px;
    margin-left: 32px;
    font-weight: initial;
}

nav > .logo > p {
    font-size: 24px;
    margin-left: 5px;
    margin-top: 20px;
}

nav > ul {
    margin: 0;
    grid-area: ul;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    margin-right: 30px;
}

nav > ul > li {
    color: white;
    font-size: 15px;
    padding: 34px 17px;
}

nav > ul > li > a {
    height: 80px;
    text-decoration: none;
    color: white;
}

nav > ul > li > a:hover {
    color: green;
}

nav > ul > li > .divider {
    width: 1px;
    background-color: white;
    height: 16px;
}

/* MAIN */

main {
    background: linear-gradient(#F037A5 -60%, #FAE62D 140%);
}

main > .image-container {
    background-image: url(images/hero-burst.svg);
    background-repeat: no-repeat;
    background-size: 134%;
    background-position: center;
    z-index: 10;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > .image-container > div {
    
}

main > .image-container > div > h1 {
    font-size: 80px;
    font-weight: 900;
    letter-spacing: -5px;
}

main > .image-container > div > h4 {
    
}

main > .image-container > div > button {
    
}

/* FOOTER */

footer {
    background-color: black;
}