/* GRID */

.grid-container {
    height: 220vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "main""footer";
}

main {
    grid-area: main;
    background-color: green;
}

footer {
    grid-area: footer;
    background-color: red;
}

/* GENERAL */

body {
    margin: 0;
}

/* NAVBAR */

nav > ul {
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
}