/* GRID */

.grid-container {
    height: 220vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "nav""main""footer";
}

nav {
    grid-area: nav;
    background-color: blue;
}

main {
    grid-area: main;
    background-color: green;
}

footer {
    grid-area: footer;
    background-color: red;
}



body {
    margin: 0;
}